.grid {
  display: flex;
  width: 100%;
  /*
  display: grid;
  grid-template-columns: 2.3rem 1fr;
  */
}

.sidebar {
	margin-left: -2.7rem;
	transition: 0.2s linear;
}

.sidebar.sidebarOpen {
  margin-left: 0;
}

.container {
	position: relative;
	left: 0;
	width: 100%;
	transition: 0.2s linear;
}

.content {
  height: calc(100vh - 1rem - 1em - 5rem);
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2rem;
}

.footer {
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  min-width: 0;
  min-height: 0;
}

.header {
  display: flex;
  border-bottom: 1px solid #C9CED6;
  align-items: center;
  padding: 0.8rem 2rem;
  justify-content: space-between;
}

.headerTitle {
  font-size: 1.1rem;
}

@media only screen and (max-width: 1200px) {
  .content {
    padding: 1.25rem;
  }

  .header {
    padding: 0.75rem 1.25rem;
  }

  .headerTitle {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .content {
    padding: 0.25rem;
  }

  .header {    
    padding: 0.75rem 0.25rem;
  }

  .headerTitle {
    font-size: 0.9rem;
  }
}
